<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'new_app:index' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'new_app:musician_form' %}" class="nav-link">Add Musician</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'new_app:album_form' %}" class="nav-link">Add Album</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        {% block body_block %}

        {% endblock %}
    </div>
</body>
</html>